<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hal -->
      <package
            uri="http://www.example.org/hal"
            class="ca.mcgill.emf.examples.hal.HalPackage"
            genModel="model/hal.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated hal -->
      <parser
            type="hal"
            class="ca.mcgill.emf.examples.hal.util.HalResourceFactoryImpl"/>
   </extension>

</plugin>
